{% extends 'app/base.html' %}

{% block content %}
{% if user.is_superuser %}
<h2><a class="button fancy-button" href="{% url 'operario-add' %}">Crear Operario</a></h2>
<br></br>
{% endif %}
<h3>Operarios:</h3>
{% if lista_operarios %}
    <table class="tabla-contenido">
    	 <tr>
        <th>Codigo</th>
    	<th>Nombres</th>
    	<th>Apellidos</th>
        <th>Cédula</th>
    	<th>Fecha de Nacimiento</th>
    	<th>Teléfono</th>
        <th>Fecha de Inicio</th>
        <th>Sexo</th>
        <th>Activo</th>
        <th>Acciones</th>
  		</tr>
        {% for operario  in lista_operarios %}
        <tr>
      <td>{{ operario.codigo}}</td>
      <td>{{ operario.nombre_operario}}</td>
      <td>{{ operario.apellido_operario}}</td>
      <td>{{ operario.cedula}}</td>
      <td>{{operario.nacimiento}}</td>
      <td>{{ operario.telefono}}</td>
      <td>{{ operario.inicio}}</td>
      <td>{{ operario.sexo }}</td>
      <td>{{ operario.activo }}</td>
      <td>
        <a href="{% url 'operario_update' operario.pk  %}">Editar</a>
        {% if user.is_superuser %}
        <a href="{% url 'operario_delete' operario.pk  %}">Borrar</a>
        {% endif %}
      </td>

        {% endfor %}
        </tr>
    </table>
{% else %}
    <p>No hay datos disponibles</p>
{% endif %}
{% if lista_operarios.has_other_pages %}
  <ul class="pagination">
    {% if lista_operarios.has_previous %}
      <li><a href="?page={{ lista_operarios.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in lista_operarios.paginator.page_range %}
      {% if lista_operarios.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if lista_operarios.has_next %}
      <li><a href="?page={{ lista_operarios.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
